.idea/
.vscode/
web-ext-artifacts
node-feature-extractor/training_data/*.json
node-feature-extractor/node_modules/*
node-feature-extractor/outputs/class_weights.txt
node-feature-extractor/outputs/prediction_stats.log
node-feature-extractor/outputs/processed.libsvm
node-feature-extractor/outputs/feature_map.txt
